<!DOCTYPE html>
<html lang="en">
<head>
    <title>Answer for Problem</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/mwo_logo.png') }}" alt="MWO Logo" height="60">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('select_folder') }}">Select Folder</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <h1 class="text-center">Answer for Problem {{ problem_number }}</h1>
        <img src="{{ url_for('static', filename=answer_image_path) }}" class="img-fluid" alt="Answer image">
        <a href="{{ url_for('problem') }}" class="btn btn-primary btn-block mt-3">Back to Problem</a>
    </div>
</body>
</html>
